extend layout
block content
    p This is a Tiny Url example application

    form(action='/new', method='post')
      input(type='text', name='uri', class='text focus')
      input(type='submit', value='Shrink', class='button')
      
    p= serverDate